body{
    margin:0;
}
.header, .footer{
    background-color:#00ac68;
    color:white;
    height:10vh;
}
.principal{
    align-items:center;
    border: 2px solid red;
    display:flex;
    height:80vh;
    justify-content:space-around;
}
.widget{
    border:2px solid blue;
    width:30%;
    height:60vh;
}